# All binaries
bin/*.so
bin/kestrel

# Selenium server
bin/selenium-server-standalone-*.jar

# Renamed API file
bin/API.txt
bin/seleniumTest.py

# pycache and pyest cache
bin/.pytest_cache/*
bin/__pycache__/*
