# Renamed API file and log
utils/API.txt
seleniumLog.txt
# NLP Model
nlp/nlpModel/*
nlp/*.svg
nlp/modelPlot.png

# Test files
test/KestrelMissed.csv
test/searchResults.csv

# Database data
databases/*

